<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name=" Facebook Web Application Test Automation Suite">


    <listeners>
        <listener
                class-name="com.bridgelabz.facebook.ExtendReportListener.ExtentReporterNG" />
    </listeners>

<!-- we have create 100 test case then we need to define 100 test cases -->
<!--    this  one take a more and more time to execute the test cases -->
    <test name="facebook Web Application test cases">
        <classes>
            <class name="com.bridgelabz.facebook.test.HomePageTest" />
            <class name="com.bridgelabz.facebook.test.LoginPageTest" />
        </classes>
    </test>
</suite>